body {
	background-image: url('background4.jpg');
    background-color: grey;
}

h1 {
    color: white;
    text-align: center;
}

p {
	font-family: "Impact", sans-serif;
	color: white;
	text-align: center;
    font-family: verdana;
    font-size: 4em;
}

h2 {
	color: red;
	text-align: center;
}

h3 {
	color: blue;
	text-align: center;
}

h4 {
	color: yellow;
	text-align: center;
}

h5 {
	color: green;
	text-align: center;
}

title {
	color: black;
	text-align: center;
}

h6 {
	color: purple;
	text-align: center;
}